body {
    background-color: #fafafa;
    margin: 0px;
    color: rgb(14, 14, 14);
    font-family: Tahoma;
}

.nav {
    width: 100%;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
}

.logo {
    width: 40px;
    height: 40px;
    background-image: url(../source/logo.png);
    background-size: cover;
}
.name {
    font-size: 20px;
    font-weight: 800;
    margin-left: 60px;
    position: absolute;
    top: 22px;
}
.burger {
    display: none;
}

input[type="checkbox"]  {
    display: none;
}

.menu {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0px 25px 0px 0px;
}
.menu-item {
    font-family: Tahoma;
    color: #000000;
    font-size: 18px;
    display: inline-block;
    margin: 0px 50px 0px 50px;
}
.menu-item a, .nav a {
    text-decoration: none;
    color: rgb(14, 14, 14);
}
.content {
    position: relative;
    top: 80px;
    margin: 30px auto 110px auto;
    width: 90%;
}
.title-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.header {
    background-color: rgb(248,224,88);
    padding: 5px 0;
    position: relative;
    top: 130px;
}
.header h1{
    font-size: 26px;
    text-align: center;
    margin: 0px;
}
.description {
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
}
.location{
    margin-bottom: 30px;
}
.location p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
.description p {
    margin-bottom: 0%;
    line-height: 1.5;
}
.vid, .map{
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 30px auto 0 auto;
}
.vid iframe, .map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.gallery{
    display: flex;
	flex-wrap: wrap;
    padding: 10px;
}
.gallery-item {
    height: 120px;
    flex: 1 0 30%;
	margin: 1.5%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    transition: transform 400ms ease-out;
}
.gallery-item:hover {
    transform: scale(1.1);
}
.museum-insta {
    height: 30px;
    width: 30px;
    margin: 20px auto 0px auto;
    background-size: cover;
    background-position: center;
    background-image: url(../source/inst.png);
    cursor: pointer;
}